.cover__link::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2A2C2F19;
}

.cover__link:hover::before {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    background-color: #2A2C2F50;
}