.place__image {
    max-width: 100%;
    max-height: 100%;
}


@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 42.9vw;
        max-height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 44.27vw;
        max-height: 100%;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        max-width: 100%;
        max-height: 100%;
    }
}

