.place__paragraph {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 26px;
    text-align: left;
}

.place__paragraph:last-of-type {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        max-width: calc(100vw - 416px);
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        font-size: 2.6vw;
        line-height: 3.9vw;
        max-width: 53.8vh;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        width: 90vw; 
        margin-left: 16px;
        font-size: 16px;
        line-height: 26px;
    }
    .place__paragraph:last-of-type {
        margin-left: 16px;
    }
}