.cover {
    position: relative;
    max-width: 1184px;
    min-height: 740px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../images/__background.png);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 100%;
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
    }
}

